.skills {
  background-image: url("../images/bgskil.png");
  background-position: left bottom;
}
.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.small-resume h2 {
  color: #d85260;
}
.small-resume p {
  color: #444444;
  width: 80%;
  font-size: 20px;
}
.table {
  border: 1px solid #707070;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
}
.table h1 {
  font-size: 24px;
  color: #d85260;
  text-align: center;
  border-bottom: 1px solid #707070;
}
.table .firstrow {
  border-right: 1px solid #707070;
}
.table ul {
  color: #444444;
  line-height: 34px;
  font-size: 20px;
}
.work-flow h1 {
  font-size: 24px;
  color: #d85260;
  text-align: center;
}
.work-flow ul {
  width: 300px;
  margin: 0 auto;
  color: #444444;
  font-size: 20px;
}
